/data
/dataStaticSigns
/dataTesting

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.keras
*.joblib
*.tfrecord
*.json

# Virtual environment
/.env/
*.env
/.venv/
*.venv
pipenv.lock
Pipfile.lock

# Folders for captured images
/data/

# System files
.DS_Store          # macOS
Thumbs.db          # Windows

# IDE or editor specific files
.idea/             # PyCharm, JetBrains
.vscode/           # VS Code
*.swp              # Vim swap files

# Log files
*.log

# Environment variables
.env

# Miscellaneous
*.bak      

